@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* :root {
  --color-primary: #ff9801;
  --color-secondary: #fb923c;
} */

html {
    overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif !important;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 900 !important;
}

.nav-container-custom {
  margin: 0 auto;
  padding: 0.3rem;
}

@media (min-width: 640px) {
  .container-custom {
    padding-inline: 2rem;
  }
}

@media (min-width: 1024px) {
  .container-custom {
    padding-inline: 4rem;
  }
}

@media (min-width: 768px) {
  .nav-container-custom {
    padding: 0 50px;
  }
}

@media (min-width: 1024px) {
  .nav-container-custom {
    padding: 0.5rem 200px;

  }
}

@media (min-width: 1490px) {
  .nav-container-custom {
    padding: 0.5rem 400px;

  }
}