@import "tailwindcss";


:root {
  --color-primary: #ff9801;
  --color-secondary: #fb923c;
}

html {
    overflow-x: hidden;
}

.nav-container-custom {
  margin: 0 auto;
  padding: 0.3rem;
}

@media (min-width: 640px) {
  .container-custom {
    padding-inline: 2rem;
  }
}

@media (min-width: 1024px) {
  .container-custom {
    padding-inline: 4rem;
  }
}

@media (min-width: 768px) {
  .nav-container-custom {
    padding: 0 50px;
  }
}

@media (min-width: 1024px) {
  .nav-container-custom {
    padding: 0.5rem 200px;

  }
}

@media (min-width: 1490px) {
  .nav-container-custom {
    padding: 0.5rem 400px;

  }
}